@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.text-container {
    display: flex;
    gap: 5px;
}


.text-container>span {
    text-transform: uppercase;
    animation: glow 8s ease-in-out infinite;
    font-family: 'Baloo Thambi', cursive;

}

@keyframes glow {

    0%,
    100% {
        color: #FFF;
        text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
    }

    10%,
    90% {
        color: #f537bd;
        ;
        text-shadow: none;
    }
}

.text-container>span:nth-child(2) {
    animation-delay: 0.25s;
}

.text-container>span:nth-child(3) {
    animation-delay: 0.5s;
}

.text-container>span:nth-child(4) {
    animation-delay: 0.75s;
}



.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.answers {
    margin-bottom: 20px;
}

.button {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #1b03f4;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
    color: #ffffff;
    transition: background-color 0.3s;
}


.button.correct {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.button.incorrect {
    background-color: #ffcdd2;
    color: #c62828;
}

.button:hover {
    background-color: #1395f8;
    transition: 0.5s
}


.start-button,
.reset-button {
    display: block;
    padding: 10px;
    background-color: #004cff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}


.start-button:hover,
.reset-button:hover {
    background-color: #43b4d1;
    transition: 0.5s;
}

.button::placeholder {
    color: rgba(255, 255, 255, 0.764);
}

.feedback {
    margin-top: 10px;
}

.feedback.correct {
    color: #2e7d32;
}

.feedback.incorrect {
    color: #c62828;
}

.result {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 20px;
    background-color: #76c7c0;
    width: 0%;
    border-radius: 10px;
}